<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDT.Plugins.BattlecryHelper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HDT.Plugins.BattlecryHelper.Settings>
            <setting name="PanelTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PanelLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PanelScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PanelOpacity" serializeAs="String">
                <value>100</value>
            </setting>
        </HDT.Plugins.BattlecryHelper.Settings>
    </userSettings>
</configuration>